In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler

In [23]:
data=pd.read_csv("insurance_pre.csv")
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [24]:
data=pd.get_dummies(data,drop_first=True)
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [25]:
data.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [26]:
independent=data[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [27]:
dependent=data[['charges']]

In [28]:
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [29]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [30]:
criterions=['mse','mae','friedman_mse']
splitters=['random', 'best']
max_feature=['sqrt', 'auto', 'log2']
a=[]
b=[]
c=[]
r2=[]
for x in criterions:
    for y in splitters:
        for z in max_feature:
                    regressor=DecisionTreeRegressor(criterion=x,splitter=y,max_features=z)
                    regressor.fit(x_train,y_train)
                    y_predict=regressor.predict(x_test)
                    r_score=r2_score(y_test,y_predict)
                    r2.append(r_score)
                    a.append(x)
                    b.append(y)
                    c.append(z)

In [35]:
Dict={"criterion":a,"splitter":b,"max_features":c,"r2_scor":r2}
final_data=pd.DataFrame(Dict)
final_data.to_csv("Decision_tree_parameters.csv")
final_data

       criterion splitter max_features   r2_scor
0            mse   random         sqrt  0.675378
1            mse   random         auto  0.678471
2            mse   random         log2  0.684439
3            mse     best         sqrt  0.675292
4            mse     best         auto  0.696750
5            mse     best         log2  0.686645
6            mae   random         sqrt  0.706369
7            mae   random         auto  0.757212
8            mae   random         log2  0.792154
9            mae     best         sqrt  0.658955
10           mae     best         auto  0.664303
11           mae     best         log2  0.733329
12  friedman_mse   random         sqrt  0.698903
13  friedman_mse   random         auto  0.722050
14  friedman_mse   random         log2  0.595066
15  friedman_mse     best         sqrt  0.618744
16  friedman_mse     best         auto  0.710153
17  friedman_mse     best         log2  0.701974

In [39]:
regressor=DecisionTreeRegressor(criterion='mae',splitter='random',max_features='log2')
regressor.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mae', max_depth=None, max_features='log2',
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='random')

In [40]:
y_predict=regressor.predict(x_test)

In [41]:
r_score=r2_score(y_test,y_predict)
r_score

0.7017081594797708

In [42]:
age=float(input("Age:"))
Bmi=float(input("BMI:"))
children=float(input("Children:"))
sex=int(input("Sex male-1 female 0:"))
smoker=int(input("Smoker Yes 1 No 0:"))

Age:30
BMI:23
Children:2
Sex male-1 female 0:1
Smoker Yes 1 No 0:1

In [44]:
prediction=regressor.predict([[age,Bmi,children,sex,smoker]])
prediction

array([47291.055])